  footer#footer-section
    p.copyright
      | &#169; AyoBagi.org 2015. All Rights Reserved.
  script(type="text/javascript", src="javascripts/js/jquery-2.1.0.min.js")
  // Modernizr js
  script(type="text/javascript", src="javascripts/js/modernizr-2.8.0.min.js")
  // Plugins
  script(type="text/javascript", src="javascripts/js/plugins.js")
  // Custom JavaScript Functions
  script(type="text/javascript", src="javascripts/js/functions.js")
  // Custom JavaScript Functions
  script(type="text/javascript", src="javascripts/js/jquery.ajaxchimp.min.js")