extends layout

block content
  //- div.child.col-md-offset-4
  div.row
    div.col-sm-12
    div.child
    div.logo
      img(src="images/logo.png", alt="")
  div.row
    div.col-sm-12
      h1.big ComingSoon
  div.row
    div.col-sm-12
      p.middle-p Helping you fulfil Indonesian children's potential.
      form.register(action='/' method='post' class='form-inline')
        div.form-group
          input(type="email", name="email" placeholder="Please Enter Your Email")
          input(type="submit", value="Bagi")
  //- div.middle
  //-   div.middle-text
  //-     p to help you fulfiling Indonesian children’s potential.
  //-     form.register(action='/' method='post' class='form-inline')
  //-       input(type="email", name="email" placeholder="Please Enter Your Email")
  //-       input(type="submit", value="Bagi")

block footer
  div.row.footer
      div.col-sm-12
        div.row
          div.col-sm-12
            ul.slogan
              li.icon.big.plus
                a.link Sehat
              li.icon.big.cerdas
                a.link Cerdas
        div.row
          div.col-sm-12
            ul.slogan
              li.icon.big.maju
                a.link Maju
              li.icon.big.sejahtera
                a.link Sejahtera
      div.col-md-12
          ul.social
            li
              a.icon.twitter(href="https://twitter.com/ayobagi_org")
            li
              a.icon.fb(href="https://www.facebook.com/ayobagi.org")
            li
              a.icon.gplus(href="https://plus.google.com/113812145384919348739")
            li
              a.icon.youtube(href="#")
            li
              a.icon.instagram(href="https://instagram.com/ayobagi_org")
