doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="images/favicon.png")
  body
    div.container-fluid
      div.row
       div.col-md-12.content
        if messages
          p(class="text-success")= messages
        if success
          p(class="text-error")= success
        block content
      block footer