doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.row
       div.col-md-12
        block content
    block footer